# Optional: Customize further if needed
IndentWidth: 2
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInAngles: false
Standard: c++17